In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
# from config import username, password
from numpy.random import seed
seed(42)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import tensorflow
tensorflow.keras.__version__
import warnings
warnings.filterwarnings('ignore')

C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\weber\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [4]:
# reading in ratings csv files
ratings_df = pd.read_csv("./Resources/IMDB_ratings.csv")
ratings_df

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000574,6.1,537,6.3,6.0,54,17,55,121,122,...,6.0,19.0,6.6,14.0,6.3,64.0,6.0,89.0,6.2,309.0
1,tt0001892,5.9,171,6.1,6.0,5,6,17,41,52,...,5.8,4.0,6.5,8.0,5.9,29.0,6.2,27.0,6.0,114.0
2,tt0002101,5.2,420,5.2,5.0,12,8,16,60,89,...,5.5,14.0,6.2,20.0,4.9,57.0,5.5,197.0,4.7,103.0
3,tt0002130,7.0,2019,6.9,7.0,194,208,386,571,308,...,7.3,74.0,7.4,75.0,7.0,126.0,7.1,452.0,7.0,1076.0
4,tt0002199,5.7,438,5.8,6.0,28,15,42,75,114,...,4.8,10.0,6.5,15.0,5.7,56.0,5.9,161.0,5.7,164.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81268,tt9903716,7.2,219,8.1,9.0,86,37,33,15,17,...,5.6,6.0,6.7,3.0,2.0,4.0,5.0,14.0,7.1,45.0
81269,tt9905412,7.8,510,7.8,9.0,184,80,91,39,10,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,3.0
81270,tt9905462,8.4,604,8.1,9.0,280,80,101,31,9,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,4.0,3.0
81271,tt9911774,8.4,369,8.2,9.0,111,74,74,61,30,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0
81272,tt9914286,7.2,190,9.5,10.0,177,0,2,0,0,...,NaN,NaN,NaN,NaN,4.0,3.0,1.7,5.0,6.2,5.0

In [5]:
# Read in movies csv
movies_df = pd.read_csv("./Resources/IMDB_movies.csv")
movies_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81268,tt9903716,Jessie,Jessie,2019,2019-03-15,"Horror, Thriller",106,India,Telugu,Aswani Kumar V.,...,"Sritha Chandana, Pavani Gangireddy, Abhinav Go...","Set in an abandoned house, the film follows a ...",7.2,219,NaN,NaN,NaN,NaN,21.0,NaN
81269,tt9905412,Ottam,Ottam,2019,2019-03-08,Drama,120,India,Malayalam,Zam,...,"Nandu Anand, Roshan Ullas, Manikandan R. Achar...","Set in Trivandrum, the story of Ottam unfolds ...",7.8,510,INR 4000000,NaN,$ 4791,NaN,NaN,NaN
81270,tt9905462,Pengalila,Pengalila,2019,2019-03-08,Drama,111,India,Malayalam,T.V. Chandran,...,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",An unusual bond between a sixty year old Dalit...,8.4,604,INR 10000000,NaN,NaN,NaN,NaN,NaN
81271,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,8.4,369,NaN,NaN,NaN,NaN,NaN,NaN
81272,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,7.2,190,NaN,NaN,$ 2833,NaN,NaN,NaN

In [ ]:
# Remove extra columns
movies_df = movies_df[["imdb_title_id", "title", "year", "genre", "duration", "country", "director", "production_company", "budget"]]
movies_df.info()

In [ ]:
# Drop nulls
movies_df_clean = movies_df.dropna(how="any")
movies_df_clean.info()

In [ ]:
# Filter to movies from USA
movies_df_clean = movies_df_clean.loc[(movies_df_clean["country"] == "USA")]
movies_df_clean.info()

In [ ]:
# Filter movies from 2000 and on
movies_df_clean = movies_df_clean.loc[(movies_df_clean["year"] >= 2000)]
movies_df_clean.info()

In [ ]:
movies_df_clean.head()

In [ ]:
# Split budget column on currency type
movies_df_clean[["currency", "budget"]] = movies_df_clean['budget'].str.split(' ', expand= True)
movies_df_clean.head()

In [ ]:
# Remove columns that don't have $ as currency
movies_df_final = movies_df_clean.loc[(movies_df_clean["currency"] == "$")]
movies_df_final.info()

In [ ]:
# Setting budget to integer data type
movies_df_final["budget"] = movies_df_final["budget"].astype(int)
movies_df_final.info()

In [ ]:
# Drop currency column
movies_df_final = movies_df_final.drop(["currency"], axis=1)
movies_df_final.head()

In [ ]:
# create and view ratings dataframe
ratings_df = ratings_df[["imdb_title_id", "total_votes", "median_vote", "allgenders_18age_avg_vote", "allgenders_30age_avg_vote", "allgenders_45age_avg_vote", "males_allages_avg_vote", "males_18age_avg_vote", "males_30age_avg_vote", "males_45age_avg_vote", "females_allages_avg_vote", "females_18age_avg_vote", "females_30age_avg_vote", "females_45age_avg_vote"]]
ratings_df.head()

In [ ]:
# rename name columns for cleaner view
ratings_df = ratings_df.rename(columns={"allgenders_18age_avg_vote":"all18to29", "allgenders_30age_avg_vote":"all30to44", "allgenders_45age_avg_vote":"allover45", "males_allages_avg_vote":"males", "males_18age_avg_vote":"males18to29", "males_30age_avg_vote":"males30to44", "males_45age_avg_vote":"malesover45", "females_allages_avg_vote":"females", "females_18age_avg_vote":"females18to29", "females_30age_avg_vote":"females30to44", "females_45age_avg_vote":"femalesover45"})
ratings_df.head()

In [ ]:
ratings_df.info()

In [ ]:
# dropping null values for all columns
ratings_df = ratings_df.dropna(how="any")
ratings_df.info()

In [ ]:
# merge movies and ratings dataframes for complete database
clean_movies = pd.merge(movies_df_final, ratings_df, on = "imdb_title_id", how = "inner")
clean_movies.head()

In [ ]:
# cleaning genre column so each movie falls under one genre
clean_movies["genre"] = clean_movies["genre"].str.split(",", expand=True)[0]
clean_movies.head()

In [ ]:
# Get count of unique directors
clean_movies["director"].value_counts()

In [ ]:
# Split director column to get first name only
clean_movies["director"] = clean_movies["director"].str.split(',', expand= True)[0]
clean_movies.head()

In [ ]:
# Recheck unique director count
clean_movies.director.value_counts()

In [ ]:
clean_movies.info()

In [ ]:
clean_movies.median_vote.value_counts()

In [ ]:
# Create categories for movie ratings
conditions = [
    (clean_movies["median_vote"] <= 4),
    (clean_movies["median_vote"] > 4) & (clean_movies["median_vote"] < 8),
    (clean_movies["median_vote"] >= 8)
]

In [ ]:
# Create list of values to assign to each condition
values = ["Bad", "Good", "Excellent"]

In [ ]:
# Create new column using np.select
clean_movies["rating_class"] = np.select(conditions, values)
clean_movies[["median_vote", "rating_class"]].head()

In [ ]:
clean_movies["rating_class"].value_counts()

In [ ]:
# Export clean file to .csv 
clean_movies.to_csv("./Resources/imdb_final.csv", index=False, header=True)

In [ ]:
from prettytable import PrettyTable
x = PrettyTable()

In [ ]:
csv = pd.read_csv("./Resources/imdb_final.csv")
x = csv
print(x)

In [ ]:
# create engine
# engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/movies')

In [ ]:
#
# clean_movies.to_sql("moviedata", con = engine)